useDynLib(dlm)
exportPattern("^dlm")
export(arms, ARtransPars, as.dlm, bdiag, convex.bounds, is.dlm,
       rwishart, mcmcMean, mcmcMeans, mcmcSD, ergMean, "%+%", dropFirst,
       FF, "FF<-", V, "V<-", GG, "GG<-", W, "W<-", C0, "C0<-", m0, "m0<-",
       JFF, "JFF<-", JV, "JV<-", JGG, "JGG<-", JW, "JW<-", X, "X<-")
importFrom(stats, tsdiag)
S3method(print, dlm)
S3method(FF, dlm)
S3method("FF<-", dlm)
S3method(GG, dlm)
S3method("GG<-", dlm)
S3method(V, dlm)
S3method("V<-", dlm)
S3method(W, dlm)
S3method("W<-", dlm)
S3method(C0, dlm)
S3method("C0<-", dlm)
S3method(m0, dlm)
S3method("m0<-", dlm)
S3method(JFF, dlm)
S3method("JFF<-", dlm)
S3method(JGG, dlm)
S3method("JGG<-", dlm)
S3method(JV, dlm)
S3method("JV<-", dlm)
S3method(JW, dlm)
S3method("JW<-", dlm)
S3method(X, dlm)
S3method("X<-", dlm)
S3method(print, mcmcMean)
S3method("+", dlm)
S3method(dlmSmooth, dlmFiltered)
S3method(residuals, dlmFiltered)
S3method(tsdiag, dlmFiltered)
